.rotate {
    width: 100px;
    height: 100px;

    /* Rotate the div */
    animation: rotate 4s linear infinite;
    /* 4s for one complete rotation */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        /* Starting position */
    }

    to {
        transform: rotate(360deg);
        /* Ending position */
    }
}